*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg,#8b253d,#0f172a);
    color: #e5e7eb;
}
.clock-box{
    padding:30px 40px;
    border-radius: 20px;
    background: linear-gradient(135deg,#3e61b1,#8b253d);
    box-shadow: 0 10px 30px rgba(19, 37, 234, 0.093);
    text-align: center;
    min-width: 260px;
    border:1px solid rgba(148,163,184,0.3);
}
.clock-title{
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#9ca3af;
    margin-bottom: 10px;
}
.time{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
}
.date{
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;  
}
.ampm{
    font-size: 20px;
    margin-left: 10px;
    vertical-align: super;
    color:#fbbf24;
}